<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="DAHARin Apps is a website for showing restaurant recommendation. Here, you can find restaurant details and add it as your favorite!">
    <meta name="theme-color" content="black">
    <link rel="icon" href="faviconplate.png">
    <link rel="apple-touch-icon" href="faviconplate.png">
    <link rel="manifest" href="manifest.json">
    <title>DAHARin Apps</title>
</head>
<body>
    <div id="page-container">
        <div class="splash">
            <div class="lds-facebook"><div></div><div></div><div></div></div>
            <h1 class="app-bar__brand">DAHARin</h1>
        </div>
        <div id="content-wrap">
            <a href="#findresto" class="skip-link">Find Restaurant</a>
            <app-bar></app-bar>
            <main id="findresto"></main>
        </div>
        <footer>
            <p>DAHARin Apps &copy; 2021, Developed with
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-heart-fill" viewbox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                </span> by Ala'</p>
        </footer>
    </div>
</body>
</html>