@font-face {
  font-family: "San Francisco", font-awesome;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff),
    url(https://use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff2);
  font-display: swap;
}

.resto-item:empty {
  height: 300px;
  width: 520px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0;
}
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit; 
  cursor: pointer; 
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: -10;
  color: #fff;
  text-align: center;
  transition: all 0.5s;
}
.splash {
  position: fixed;
  padding-top: 42.5vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 200;
  color: #fff;
  text-align: center;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}
body {
  font-family: "San Francisco", -apple-system, BlinkMacSystemFont, Poppins,
    sans-serif;
  min-height: 100vh;
  display: block;
  flex-direction: column;
}
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #a79c9d;
  color: #fff;
  padding: 8px;
  z-index: 100;
}
.skip-link:focus {
  top: 0;
}
.app-bar {
  padding: 8px 16px;
  background-color: #aa7764;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}
.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 16px;
  cursor: pointer;
  color: #fff;
}
.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}
.app-bar .app-bar__brand h1 {
  color: #fff;
  font-size: 22px;
  user-select: none;
}
.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -190px;
  width: 150px;
  transition: all 0.3s;
  padding: 16px;
  overflow: hidden;
}
.app-bar .app-bar__navigation.open {
  left: 0;
  top: 72px;
  background-color: #fca311;
}
.app-bar .app-bar__navigation.open ul li a {
  color: #fff;
}
.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 20px 5px;
  margin-bottom: 5px;
  width: 100%;
}
.hero__container {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-position: center;
  background-color: green;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../dist/images/hero-image_2-large.jpg);
}
.hero__inner {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}
.hero__title {
  color: #fff;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 35px;
}
.hero__tagline {
  color: #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
}
main {
  display: block;
}
.content {
  margin: 25px auto;
  min-height: 100%;
}
.content .content__heading {
  font-weight: 400;
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
}
.content__heading {
  font-weight: 400;
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
}
.restos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin: 50px;
}
.resto-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #f8f9fa
}
.resto-item__header {
  position: relative;
}
.resto-item .resto-item__header .resto-item__header__poster {
  width: 100%;
  height: 270px;
  object-fit: cover;
  object-position: center;
}
.resto-item .resto-item__header .resto-item__header__city {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: #000;
  color: #fff;
  border-radius: 0 20px 20px 0;
  -webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  -ms-border-radius: 0 20px 20px 0;
  -o-border-radius: 0 20px 20px 0;
}
.resto-item .resto-item__header .resto-item__header__rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  right: 0;
  display: inline-block;
  background-color: #000;
  color: #fff;
  border-radius: 20px 0 0 20px;
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  -ms-border-radius: 20px 0 0 20px;
  -o-border-radius: 20px 0 0 20px;
}
.resto-item
  .resto-item__header
  .resto-item__header__rating
  .resto-item__header__rating__score {
  margin-left: 10px;
}
.resto-item .resto-item__content {
  padding: 30px;
}
.resto-item .resto-item__content h3 {
  margin: 0 0 10px 0;
  padding: 25px;
  padding-left: 0;
  letter-spacing: 2.5px;
  font-weight: 700;
}
.resto-item .resto-item__content h3 a {
  color: #000;
  text-decoration: none;
  padding: 25px;
  padding-left: 0;
  font-size: 25px;
}
.resto-item .resto-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.resto {
  margin: 50px auto;
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr;
}
.resto .resto__poster {
  align-items: center;
  padding: 25px;
  width: 100%;
  margin: 0;
}
.resto .resto__info h4 {
  margin: 20px 0 20px 0;
}
.resto__title {
  text-align: center;
  margin: 10px;
  padding: 15px;
  background-color: #aa7764;
  color: #fff;
}
.detail-title {
  text-align: center;
  margin: 15px;
  padding: 5px;
  color: #aa7764;
}
.overview-detail,
.review-detail {
  margin: 5px;
  max-height: 600px;
  overflow: auto;
}
.authorReview {
  margin-top: 20px;
  text-transform: uppercase;
}
.timeReview {
  font-size: smaller;
  color: #969696;
}
.contentReview {
  margin-top: 10px;
}
.like {
  font-size: 18px;
  position: fixed;
  bottom: 25px;
  right: 16px;
  background-color: #000;
  color: red;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.input_section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 12px 0;
}
.input_section > h2 {
  text-align: center;
  color: #000;
  font-family: Montserrat, sans-serif;
  font-size: large;
}
.input_section > form > .input {
  margin: 8px 0;
}
.input_section > form > .input > input {
  display: block;
  width: 100%;
  padding: 8px;
  background: #fff;
  border: 1px solid #e2e6ee;
  box-sizing: border-box;
  box-shadow: 0 4px 18px rgba(158, 168, 189, 0.31);
  border-radius: 10px;
}
.input_section > form > .input > label {
  color: #000;
  font-size: smaller;
}
.input_section > form > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}
.input_section > form > .input_inline > label {
  color: #000;
  font-weight: 700;
  margin-right: 10px;
}
.inputall {
  width: 40%;
  margin: 2%;
}
footer {
  background-color: #aa7764;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0 !important;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #82ccdd00;
}
::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 50px;
  border: 4px solid #fff;
}
.container {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
}
.comment {
  transition: all 1s;
}
.commentClicked {
  min-height: 0;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px 10px;
}
.container textarea {
  width: 95%;
  border: none;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #aa7764;
  transition: all 0.5s;
}
button.primaryContained {
  background: #000;
  color: #fff;
  padding: 20px;
  border: none;
  margin-top: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 4px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  transition: 1s all;
  font-size: 10px;
  border-radius: 5px;
}
button.primaryContained:hover {
  background: #fff;
  color: #000;
}
.resto__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 25px;
  margin: 20px;
  overflow: hidden;
  background-color: #f8f9fa;
}

#inputName {
  width: 95%;
  border: none;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #aa7764;
  transition: all 0.5s;
  margin-bottom: 10px;
}

#content-wrap {
  margin-bottom: 75px;
}
.notfoundcard {
  max-width: 75vw;
  margin: 0 20px;
}

.search-bar{
  max-width: 75vw;
  margin: 50px auto !important;
}

ul {
  list-style-type: none;
}