@media screen and (min-width: 799px) {
    .app-bar {
        grid-template-columns: 1fr auto;
        padding: 8px 32px;
    }
   
    .app-bar .app-bar__brand h1 {
        font-size: 1.5em;
    }
   
    .app-bar .app-bar__menu {
        display: none;
    }
   
    .app-bar .app-bar__navigation {
        position: static;
        width: 100%;
    }
   
    .app-bar .app-bar__navigation ul li {
        display: inline-block;
    }
   
    .app-bar .app-bar__navigation ul li a {
        display: inline-block;
        width: 120px;
        text-align: center;
        margin: 0;
        font-size: large;
    }
   
    .restos {
        grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width:600px) {
    .resto .resto__poster {
        border-radius: 0;
    }

    .hero__container {
        background-image: 
            linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url("../../dist/images/hero-image_2-small.jpg");
    }
  }

  @media screen and (max-width:799px) {

    .content {
        max-width: 600px;
    }

    .app-bar .app-bar__navigation {
        height: 200px;
    }

    .restos {
        margin: 30px;
        gap: 30px;
    }

    .resto {
        margin: 15px auto;
        gap: 0px;
        max-width: 600px;
    }

    .resto__title {
        background-color: white;
        color: black;
        margin:  20px 20px 20px 20px;
        text-transform: uppercase;
        letter-spacing: 10px;
    }
      
    .hero {
        text-align: left;
    }

    .container {
        padding: 0;
    }

    footer {
        font-size: 10px;
    }
  }
   
  @media screen and (min-width: 750px) {
    .app-bar .app-bar__brand h1 {
        font-size: 2em;
    }
    .restos {
        grid-template-columns: repeat(2, 1fr);
    }
  }
   
  @media screen and (min-width: 850px) {
    .restos {
        grid-template-columns: repeat(3, 1fr);
    }
  }
   
  @media screen and (min-width: 1200px) {
    .restos {
        margin: 50px 150px;
    }
  }
   
  @media screen and (min-width: 1600px) {
    .restos {
        grid-template-columns: repeat(4, 1fr);
    }
  }